/* User the variables for colors to make sure we use only these colors
Syntax: color: var(--primary-highlight-color); */
@import "attraction.css";
@import "parks.css";
@import "weather.css";


html {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --primary-main-color: #0B2027;
    --secondary-main-color: #24687F;
    --primary-background-color: #CCDDE2;
    --primary-highlight-color: #F19953;
    --third-main-color: #40A7C9;
    --primary-border-radius: 5px;
    --secondary-border-radius: 50px;
}

body {
    background-color: var(--primary-background-color);
    color: #0B2027;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

a:hover {
    color: var(--primary-highlight-color);
}

.dropDowns {
    display: flex;
    justify-content: space-evenly;
}


/* For Modals Only */

*, *::after, *::before{
    box-sizing: border-box;
}

.modal {
    /* position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    */ 
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 80vw;
    max-width: 80vw;
    
}

button#closeParkButton, 
#closeAttractionButton,
#closeEateryButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal.active {
    transform: translate(-50%, -50%);
}

.modal-header {
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px; 
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all; 
}  

.preview-area {
    background-color: rgba(255, 255, 255, 0.493);
    width: 75%;
}

.weatherinfo {
    background-color: white;
    width: 75%;
} 
.eatery-name__block {
    background-color:white;
    
} 
#openEateryButton {
    background-color: #24687F;
    border-color: #24687F;
    border-radius: 5px ;
    color: white;
    width: 80px;
    height: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.main {
    flex: 1 1 700px;
    padding: 1rem;
}

main > * {
    padding: 1rem;
}

.sidebar {
    flex: 1 0 240px;
    border-left: 4px solid #ffffff;
    padding: 1rem;
}

.savedTrips {
    padding: .5rem;
    margin-block: .5rem;
}

.no-list-bullets {
    list-style-type: none;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    padding-inline: 10rem;
    font-size: larger;
    border-top: 4px solid #ffffff;
}

button:hover {
    background-color: #F19953!important;
}

button {
    text-transform: uppercase;
    font-weight: bold;
}

.header {
    border-bottom: 4px solid #ffffff;
    padding-block: .5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}

.page_title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

section.team-members__block {
    padding-inline: 1rem;
    border-left: 4px solid #ffffff;
}

select {
    border-radius: 5px;
}