/* User the variables for colors to make sure we use only these colors
Syntax: color: var(--primary-highlight-color); */
@import "attraction.css";
@import "parks.css";


html {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --primary-main-color: #0B2027;
    --secondary-main-color: #24687F;
    --primary-background-color: #CCDDE2;
    --primary-highlight-color: #F19953;
    --third-main-color: #40A7C9;
    --primary-border-radius: 5px;
    --secondary-border-radius: 50px;
}

body {
    background-color: var(--primary-background-color);
}

a:hover {
    color: var(--primary-highlight-color);
}

.dropDowns {
    display: flex;
    justify-content: space-evenly;
}


/* For Modals Only */

*, *::after, *::before{
    box-sizing: border-box;
}

.modal {
    /* position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    */ 
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 80vw;
    max-width: 80vw;
    
}

button#closeParkButton, 
#closeAttractionButton,
#closeEateryButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal.active {
    transform: translate(-50%, -50%);
}

.modal-header {
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px; 
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all; 
}  

.preview-area {
    background-color: rgba(255, 255, 255, 0.493);
    width: 75%;
}

.weatherinfo {
    background-color: white;
    width: 75%;
} 
.eatery-name__block {
    background-color:white;
    width: 400px;
    border:solid 1px;
    
} 
#openEateryButton {
    background-color: #24687F;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1px;
    height: 20px;
}