:root {
    --primary-main-color: #0B2027;
    --secondary-main-color: #24687F;
    --primary-background-color: #CCDDE2;
    --primary-highlight-color: #F19953;
    --third-main-color: #40A7C9;
}

body {
    background-color: var(--primary-background-color);
}

a:hover {
    color: var(--primary-highlight-color);
}