section.fiveday-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#weather-info__item {
    border-radius: 5px;
    border: 2px solid #24687F;
    margin: .25rem;
    padding-block: .25rem;
    padding-inline: .5rem;
}

.fiveday-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
    padding-block: 1rem;
}